# Compiled Binaries & Executables
*.exe
*.out
*.app

# Competitive Programming Input/Output files
input.txt
output.txt

# Scratchpad & temporary code files
SolveHere.cpp
SolveHere.exe
tempCodeRunnerFile.cpp

# IDE & Tooling Caches
.clangd/
.cph/
.vscode/
.vs/